<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="доставка, доставка еды, доставка еды по кавказу, доставка еды в дагестане">
	<meta name="description" content="Описание сайта">
	<title>Моя корзина - Едим Дома</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrapper">
		<!-- Navigation & Search -->
		<nav>
			<div class="header center-block">
				<div class="container_space-between">
					<div class="logo-block">
						<a class="logo" href=""></a>
						<p>Бесплатный сервис по заказу еды</p>
					</div>
					<a class="tel" href="tel:+79634282326">+7 (963) 428-23-26</a>
					<div class="header_item-right">
						<ul class="btns-login-reg">
							<li class="btns-login-reg_item btns-login-reg_item-log"><a href="">Авторизация</a></li>
							<li class="btns-login-reg_item btns-login-reg_item-reg"><a href="">Регистрация</a></li>
						</ul>
						<a class="basket" href="">
							<div class="basket-info">
								<p class="basket-count">2 товара</p>
								<p href="" class="basket-sum-price">1 200 руб.</p>
							</div>
							<img class="basket-logo" src="img/ico/ico-basket.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="header-search center-block">
				<div class="container_space-between">
					<select size="1" name="" id="">
						<option value="">Махачкала</option>
						<option value="">Буйнакск</option>
						<option value="">Дербент</option>
						<option value="">Хасавюрт</option>
					</select>
					<form class="header-search-right" action="" method="POST">
						<input class="header-search_line-edit" type="text" placeholder="Введите адрес доставки...">
						<button class="header-map-btn"></button>
						<input type="submit" class="header-search-btn" value="Найти">
					</form>
				</div>
			</div>
		</nav>
		<!--  -->
		<div class="main-basket-block center-block">
			<div class="container_center">
				<div class="basket-block">
					<div class="basket-top">
						<div class="basket-top_item-main">
							<div class="line">
								<div class="line-orange" style="width: 60%"></div>
							</div>
							<div class="basket-top_item-block">
								<div class="basket-top_item1" style="border: 2px solid #D77B2B; background-image: url(img/ico/ico-basket-basket-orange.png)"></div>
								<span style="color: #D77B2B">Корзина</span>
							</div>
							<div class="basket-top_item-block">
								<div class="basket-top_item2" style="border: 2px solid #D77B2B; background-image: url(img/ico/ico-basket-man-orange.png)"></div>
								<span style="color: #D77B2B">Регистрация/Вход</span>
							</div>
							<div class="basket-top_item-block">
								<div class="basket-top_item3"></div>
								<span>Доставка</span>
							</div>
							<div class="basket-top_item-block">
								<div class="basket-top_item4"></div>
								<span>Оплата</span>
							</div>
						</div>
					</div>
					<div class="basket-title">
						<div class="basket-text_1">
							<p class="basket-text_item1">Описание</p>
						</div>
						<div class="basket-text_2">
							<p class="basket-text_item2">Цена</p>
							<p class="basket-text_item3">Кол-во</p>
							<p class="basket-text_item4">Доставка</p>
							<p class="basket-text_item5">Сумма</p>
							<p class="basket-text_item6">Баллы</p>
							<p class="basket-text_item7">Акции</p>
						</div>
					</div>
					<div class="basket-content">
						<div class="basket-product">
							<div class="basket-text_1">
								<div class="basket-product_title">
									<img src="img/categori-pizza.jpg" alt="Название товара 1">
									<p>KFC / Сицилийская пицца</p>
								</div>
							</div>
							<div class="basket-text_2">
								<p class="basket-product_price">120 руб.</p>
								<p class="basket-product_count">2</p>
								<p class="basket-product_delivery">Бесплатно</p>
								<p class="basket-product_sum">240 руб.</p>
								<p class="basket-product_ball">Нет</p>
								<p class="basket-product_akcii">Нет</p>
							</div>
						</div>
						<div class="basket-product">
							<div class="basket-text_1">
								<div class="basket-product_title">
									<img src="img/categori-pirog.png" alt="Название товара 2">
									<p>Аригато / Пирог с мясом</p>
								</div>
							</div>
							<div class="basket-text_2">
								<p class="basket-product_price">230 руб.</p>
								<p class="basket-product_count">1</p>
								<p class="basket-product_delivery">100 руб.</p>
								<p class="basket-product_sum">230 руб.</p>
								<p class="basket-product_ball">Нет</p>
								<p class="basket-product_akcii">Нет</p>
							</div>
						</div>
						<div class="basket-product">
							<div class="basket-text_1">
								<div class="basket-product_title">
									<img src="img/categori-shashlik.png" alt="Название товара 3">
									<p>GAMBIT / Шашлыки</p>
								</div>
							</div>
							<div class="basket-text_2">
								<p class="basket-product_price">120 руб.</p>
								<p class="basket-product_count">3</p>
								<p class="basket-product_delivery">Бесплатно</p>
								<p class="basket-product_sum">360 руб.</p>
								<p class="basket-product_ball">Нет</p>
								<p class="basket-product_akcii">Нет</p>
							</div>
						</div>
					</div>
					<div class="basket-bottom">
						<div class="basket-bottom_item-top">
							<div class="basket-text_1">
								<p class="basket-text_item1">Всего</p>
							</div>
							<div class="basket-text_2">
								<p class="basket-text_item2">470 руб.</p>
								<p class="basket-text_item3">6</p>
								<p class="basket-product_delivery">100 руб.</p>
								<p class="basket-text_item4">830 руб.</p>
								<p class="basket-text_item5">Нет</p>
								<p class="basket-text_item6">Нет</p>
							</div>
						</div>
						<div class="basket-bottom_item-bottom">
							<!-- <a href="basket-bottom_item-bottom_no-reg">Зарегистрироваться и заказать</a> -->
							<!-- <a href="basket-bottom_item-bottom_no-reg">Войти и заказать</a> -->
							<a class="basket-bottom_item-bottom_order" href="">Заказать</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Form -->
		<div class="modal-form">
			<div class="form-login">
				<h2>Вход</h2>
				<form action="" method="POST">
					<input type="text" name="login" placeholder="Введите логин">
					<input type="text" name="password" placeholder="Введите пароль">
					<input class="form-submit" type="submit" value="Войти">
					<a class="forget-password" href="">Забыли пароль?</a>
				</form>
			</div>
			<div class="form-registration">
				<h2>Регистрация</h2>
				<form action="" method="POST">
					<input type="text" name="fullname" placeholder="Введите полное имя*" required>
					<input type="text" name="login" placeholder="Введите логин*" required>
					<input type="text" name="email" placeholder="Введите E-mail*" required>
					<input type="text" name="password" placeholder="Введите пароль*" required>
					<input class="form-submit" type="submit" value="Зарегистрироваться">
				</form>
			</div>
			<button class="close-modalForm"></button>
		</div>
		<footer></footer>
	</div>
	<script>
		// Функции для отображения модальных окон Форм Регистрации и Авторизации
		document.querySelector('.btns-login-reg_item-log').onclick = function () {
			document.querySelector('.modal-form').style.display = 'block';
			document.querySelector('.form-login').style.display = 'block';
		}
		document.querySelector('.btns-login-reg_item-reg').onclick = function () {
			document.querySelector('.modal-form').style.display = 'block';
			document.querySelector('.form-registration').style.display = 'block';
		}

		document.querySelector('.close-modalForm').onclick = function() {
			document.querySelector('.modal-form').style.display = 'none';
			document.querySelector('.form-login').style.display = 'none';
			document.querySelector('.form-registration').style.display = 'none';
		}
		// document.getElementsByClassName('main-catalog_item')[0].onmouseover = function() {
			// document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[1].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[2].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[3].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[4].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[5].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[6].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }
		// document.getElementsByClassName('main-catalog_item')[7].onmouseover = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.6;';
		// }

		// document.querySelector('.main-catalog_item').onmouseout = function() {
		// 	document.querySelector('.main-catalog_item .shadow').style = 'background-color: #000000; opacity: 0.4;';
		// }
	</script>
</body>
</html>