{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="main-content center-block">
                <div class="container_space-between">
                    <div class="sidebar-left">
                        <form action="" name="foods">
                            <div class="sidebar_item">
                                <input type="checkbox" id="sidebar_item1" checked>
                                <label class="title" for="sidebar_item1">Еда жи есть<i class="arrow-bottom"></i></label>
                                <ul class="sidebar_item-list">
                                    {% for food in foods%}
                                        <li><input type="checkbox" name="food" value="{{ food.pk }}" id="sidebar_item1-list-{{ food.pk }}"><label for="sidebar_item1-list-{{ food.pk }}">{{ food.title }}</label></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="sidebar_item">
                                <input type="checkbox" id="sidebar_item2" checked>
                                <label class="title" for="sidebar_item2">Кухня<i class="arrow-bottom"></i></label>
                                <ul class="sidebar_item-list">
                                    {% for kitchen in kitchens %}
                                        <li><input type="checkbox" name="kitchen" value="{{ kitchen.pk }}" id="sidebar_item2-list-{{ kitchen.pk }}"><label for="sidebar_item2-list-{{ kitchen.pk }}">{{ kitchen.title }}</label></li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <input type="submit" value="Применить">
                        </form>

                        <p>Сайт Едим дома – это сервис, который объединяет сочинские рестораны, кафе, пиццерии, фаст-фуды и суши-бары, осуществляющие доставку еды по городу. Используя этот сервис, вы сможете:</p>
                        <ul class="txt">
                            <li>сэкономить время, заказывая горячие блюда, закуски и десерты из ресторанов;</li>
                            <li>забыть о стоянии у плиты в преддверии прихода гостей;</li>
                            <li>получить недорогой бизнес-ланч прямо в офис;</li>
                            <li>перекусить среди ночи чем-нибудь вкусным;</li>
                            <li>познакомиться с кавказской, европейской, русской, японской, итальянской кухней в интерпретации лучших шеф-поваров;</li>
                            <li>обменять накопленные бонусные баллы на бесплатный обед или ужин с доставкой на дом.</li>
                        </ul>
                        <p style="font-size: 14px">Экономьте своё время, зарабатывайте баллы и наслаждайтесь вкусом любимых блюд!</p>
                    </div>
                    <div class="content-block">
                        <div class="restoran_search-order-block">
                            <form class="search-restoran_form" action="" method="POST">
                                <input class="search-restoran" type="text" placeholder="Поиск заведений">
                                <input class="search-restoran-btn" type="submit" value="" title="Найти">
                            </form>
                            <div class="restoran-order">
                                <input type="checkbox" id="order-restoran">
                                <label for="order-restoran">Сортировка<i class="arrow-bottom"></i></label>
                                <ul class="restoran-order_list">
                                    <li>По алфавиту</li>
                                    <li>По рейтингу</li>
                                    <li>По минимальной сумме заказ</li>
                                    <li>По максимальной сумме заказ</li>
                                    <li>По расстоянию</li>
                                </ul>
                            </div>
                        </div>
                        {% for restaurant in restaurant_list %}
                            <a href="/rests/{{ restaurant.slug }}" class="institution">
                                <div class="restoran-block">
                                    <div class="restoran-image">
                                        <img src="{{ restaurant.icon.url }}" alt="{{ restaurant.title }}">
                                    </div>
                                    <div class="restoran-info-block">
                                        <div class="restoran-item_top">
                                            <div class="restoran-item_top-left">
                                                <h2 class="restoran-item_title">{{ restaurant.title }}</h2>
                                                <p class="restoran-item_description"><span>Кухня:</span>
                                                    {% for kithen in restaurant.kitchens.all %}
                                                        {{ kithen.title }} {%  if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </p>
                                            <p style="font-size: 5px"></p>
                                                <p class="restoran-item_description"><span>Блюда:</span>
                                                    {% for food in restaurant.foods.all %}
                                                        {{ food.title }} {%  if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </p>
                                            </div>
                                            <div class="restoran-item_top-right">
                                                <div class="restoran-rate-block">
                                                    <div class="restoran-rate" style="width: 100%"></div>
                                                </div>
                                                <p class="restoran-item_star-count">1220 оценок</p>
                                            </div>
                                        </div>
                                        <div class="restoran-item_bottom">
                                            <div class="order-from restoran-item_bottom-item">
                                                <p class="restoran-item_sub-titile">Заказ от</p>
                                                <p class="restoran-item_big">{{ restaurant.order_of }} Р</p>
                                            </div>
                                            <div class="delivery restoran-item_bottom-item">
                                                <p class="restoran-item_sub-titile">Доставка</p>
                                                <p class="restoran-item_big">{% if restaurant.free_delivery %} Бесплатно {% else %} Платно {% endif %}</p>
                                            </div>
                                            <div class="time-of-delivery restoran-item_bottom-item">
                                                <p class="restoran-item_sub-titile">Время доставки</p>
                                                <p class="restoran-item_big">До {{ restaurant.delivery_time }} ч.</p>
                                            </div>
                                            <div class="payment-card restoran-item_bottom-item">
                                                <p class="restoran-item_sub-titile">Оплата картой</p>
                                                {% if restaurant.card_pay %}
                                                    <p class="restoran-item_big">Есть</p>
                                                {% else %}
                                                    <p class="restoran-item_big">Нет</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}